#!/usr/bin/env pwsh

# Copyright (C) Microsoft Corporation.

# Exit immediately if a command fails
$ErrorActionPreference = "Stop"

# Fail if an unset variable is used
Set-StrictMode -Version Latest

. ./symphony_stage_script_provider.ps1

#region Declare Constants
$DOWNLOAD_REQUEST_TIMEOUT_SECONDS = 600
$DOWNLOAD_REQUEST_MAX_REDIRECT = 5
$DOWNLOAD_REQUEST_MAX_RETRY = 5
#endregion Declare Constants

#region Getting config from metamodel config yaml
$configEncoded = "{{ parameters.input_parameter_to_script }}"
$config = [System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String($configEncoded)) | ConvertFrom-Json
#endregion Getting config from metamodel config yaml

$JFROG_EDGE_TOKEN = "<<jfrog_token>>" #TODO: Replace with actual jfrog token. Change the implementation to get the token from key vault, secret name should be avaialble in the config
$github_pat_token = "<<github_pat_token>>" #TODO: Replace with actual pat token. Change the implementation to get the token from key vault, secret name should be avaialble in the config


#region parameters - get from config
$STAGING_SA_SUBSCRIPTION_ID = "$($config.subscription_id)" #TODO: Discuss. Should this come from the config?
$STAGING_SA_RESOURCE_GROUP = "$($config.resource_name_primary_prefix)-$($config.resource_name_secondary_prefix)-$($config.resource_name_customer_short)-$($config.customer_OEM_suffix)-$($config.environment_stage_short)-rg-001" 
$STAGING_SA_NAME = "$($config.resource_name_primary_prefix)$($config.resource_name_secondary_prefix)$($config.resource_name_customer_short)$($config.customer_OEM_suffix)$($config.environment_stage_short)st" 

$JFROG_DOWNLOAD_URL = "$($config.jfrog.download_url)" #TODO: Discuss. Should this come from config or the Key Vault?

$VERSION = "$($config.version)"
$MODEL_STACK = $config.model_stack #!CRITICAL-TODO: Validate the Structure.
$REPOS_TO_CLONE = $config.clone_github_repositories
$ProjectFolderPath = "$($config.project_name)_$($config.version)"
#endregion parameters - get from config

#region clone github repositories using pat token
Write-Host "Cloning github repositories using pat token"
foreach ($repo in $REPOS_TO_CLONE) {
    $repoCloneUrl = "https://$($github_pat_token)@github.com/$($repo.organisation)/$($repo.repository).git" #TODO: Change the implementation to get the token from key vault, secret name should be avaialble in the config for each repo
    $command = "git clone ""$($repoCloneUrl)"" --depth 1 --no-tags"
    $command_output = ""
    $command_status = 0
    Invoke-CommandWithStatusCode -c $command -o $command_output -s $command_status
    if ($command_status -ne 0) {
        Write-Host "Failed to clone github repository: $($repo.organisation)/$($repo.repository)"
        Write-OutputDictionaryToOutputFile
        exit 0
    }
}
Write-Host "Completed cloning github repositories."
#endregion clone github repositories using pat token

#region download jfrog artifact
Write-Host "Downloading jfrog artifact"
New-Item -Path $PWD -Name $ProjectFolderPath -ItemType Directory -Force
Set-Location "$PWD/$ProjectFolderPath"
$headers = @{ "Authorization" = "Basic $([System.Convert]::ToBase64String([System.Text.Encoding]::ASCII.GetBytes("$($JFROG_EDGE_TOKEN)")))" }

$command = @"
Invoke-WebRequest `
    -Method GET `
    -Uri $($JFROG_DOWNLOAD_URL) `
    -Headers $($headers)`
    -ConnectionTimeoutSeconds $($DOWNLOAD_REQUEST_TIMEOUT_SECONDS) `
    -PreserveAuthorizationOnRedirect `
    -MaximumRedirection $($DOWNLOAD_REQUEST_MAX_REDIRECT) `
    -MaximumRetryCount $($DOWNLOAD_REQUEST_MAX_RETRY) `
    -PassThru `
    -OutFile
"@
$command_output = ""
$command_status = 0
Invoke-CommandWithStatusCode -c $command -o $command_output -s $command_status
if ($command_status -ne 0) {
    Write-Host "Failed to download jfrog artifact"
    Write-OutputDictionaryToOutputFile
    exit 0
}
Write-Host "Downloaded jfrog artifact"
#endregion download jfrog artifact

#region collect model stack files
Write-Host "Collecting model stack files"
$MODEL_STACK_PROPERTIES = $MODEL_STACK | Get-Member -MemberType Properties | Select-Object -ExpandProperty Name
$ARRAY_TO_PROCESS = @()
foreach ($property in $MODEL_STACK_PROPERTIES) {
    Write-Host "Processing property: $property, found type: $($MODEL_STACK.$property.GetType().BaseType.Name)"
    if ($MODEL_STACK.$property.GetType().BaseType.Name -eq "Object") {
        $nestedModuleProperties = $MODEL_STACK.$property | Get-Member -MemberType Properties | Select-Object -ExpandProperty Name
        foreach ($nestedModuleProperty in $nestedModuleProperties) {
            Write-Host "Processing nested property: $nestedModuleProperty, found type: $($MODEL_STACK.$property.$nestedModuleProperty.GetType().BaseType.Name)"
            if ($MODEL_STACK.$property.$nestedModuleProperty.GetType().BaseType.Name -eq "Array") {
                Write-Host "Adding to array to process: $($MODEL_STACK.$property.$nestedModuleProperty)"
                $ARRAY_TO_PROCESS += $MODEL_STACK.$property.$nestedModuleProperty
            }
        }
    }
    elseif ($MODEL_STACK.$property.GetType().BaseType.Name -eq "Array") {
        Write-Host "Adding to array to process: $property"
        $ARRAY_TO_PROCESS += $MODEL_STACK.$property
    }
}
foreach ($item in $ARRAY_TO_PROCESS) {
    if ($item.GetType().BaseType.Name -eq "Object" ) {
        if ($item.PSObject.Properties.Name -contains "SubSys" -and $item.SubSys.GetType().BaseType.Name -eq "Array") {
            foreach ($subSys in $item.SubSys) {
                if ($subSys.GetType().BaseType.Name -eq "Object" -and $subSys.PSObject.Properties.Name -contains "ModuleFilePath" -and $null -ne $subSys.ModuleFilePath) {
                    Write-Host "Copying from ModuleFilePath - $PWD/$($subSys.ModuleFilePath)"
                    Copy-Item "$PWD/$($subSys.ModuleFilePath)" "$PWD" -Recurse -Force
                    if ($subSys.PSObject.Properties.Name -contains "SubSysParam" -and $subSys.SubSysParam.GetType().BaseType.Name -eq "Array") {
                        foreach ($subSysParam in $subSys.SubSysParam) {
                            if ($subSysParam.GetType().BaseType.Name -eq "Object" -and $subSysParam.PSObject.Properties.Name -contains "ParamFilePath" -and $null -ne $subSysParam.ParamFilePath) {
                                Write-Host "Copying from ParamFilePath - $PWD/$($subSysParam.ParamFilePath)"
                                Copy-Item "$PWD/$($subSysParam.ParamFilePath)" "$PWD" -Recurse -Force
                            }
                        }
                    }
                }
            }
        }
    }
}
Write-Host "Completed copying model stack files"
#endregion collect model stack files

#region compress project folder
Write-Host "Compressing project folder"
Compress-Archive "$PWD" "$PWD.zip" -Force
Write-Host "Completed compressing project folder"
#endregion compress project folder

#region Get Account key for staging storage account
Write-Host "Getting storage account key for staging storage account"
$command = @"
az storage account keys list `
    -s $($STAGING_SA_SUBSCRIPTION_ID) `
    -g $($STAGING_SA_RESOURCE_GROUP) `
    -n $($STAGING_SA_NAME) `
    --query "[0].value" `
    -o tsv
"@
$storage_key = ""
$command_status = 0
Invoke-CommandWithStatusCode -c $command -o $storage_key -s $command_status
if ($command_status -ne 0) {
    Write-Host "Failed to get storage account key for staging storage account"
    Write-OutputDictionaryToOutputFile
    exit 0
}
Write-Host "Got storage account key for staging storage account."
#endregion Get Account key for staging storage account

#region Creating container in staging storage account and
Write-Host "Creating container in staging storage account"
$command = @"
az storage container create `
    --account-name $($STAGING_SA_NAME) `
    --account-key "$($storage_key)" `
    -n $($ProjectFolderPath) `
    --only-show-errors
"@
$command_output = ""
$command_status = 0
Invoke-CommandWithStatusCode -c $command -o $command_output -s $command_status
if ($command_status -ne 0) {
    Write-Host "Failed to create container in staging storage account"
    Write-OutputDictionaryToOutputFile
    exit 0
}
Write-Host "Completed creating container in staging storage account."
#endregion Creating container in staging storage account

#region upload to staging storage account
Write-Host "Uploading to compressed zip to staging storage account"
$command = @"
az storage blob upload `
    --account-name $($STAGING_SA_NAME) `
    --account-key "$($storage_key)" `
    -c $($ProjectFolderPath) `
    -n $($VERSION) `
    -f "$($PWD).zip" `
    --overwrite `
    --only-show-errors
"@
$command_output = ""
$command_status = 0
Invoke-CommandWithStatusCode -c $command -o $command_output -s $command_status
if ($command_status -ne 0) {
    Write-Host "Failed to upload to staging storage account"
    Write-OutputDictionaryToOutputFile
    exit 0
}
Write-Host "Completed upload to staging storage account."
#endregion upload to staging storage account

Write-OutputDictionaryToOutputFile
exit 0
