#!/bin/bash

# Copyright (C) Microsoft Corporation.

# Exit immediately if a command fails
set -e

# Fail if an unset variable is used
set -u

source $(dirname $0)/symphony_stage_script_provider.sh

# Run Cognata query test plan results
pyScriptQueryPlan="python3 {{ parameters.toolchain_output_path }}/cognata_simulation_scripts/query_test_plan_results.py"
pyScriptQueryPlan_output=""
pyScriptQueryPlan_status=0
execute_command_with_status_code "$pyScriptQueryPlan" pyScriptQueryPlan_output pyScriptQueryPlan_status

# Write the updated key-value pairs to the output file
echo_output_dictionary_to_output_file
