# Copyright (C) Microsoft Corporation.

azure_login:
  description: Login to Azure using a system-assigned managed identity
  type: azure login

avl_devops_custom_script:
  description: Execute the AVL DevOps custom script
  type: avl devops custom extension run script with parameters
  depends_on:
    - azure_login
  parameters:
    input_parameter: {{ config }}

deploy_avl_symphony_campaign:
  description: The Symphony campaign to execute the AVL DevOps scripts
  type: symphony campaign
  depends_on:
    - azure_login
    - avl_devops_custom_script
  parameters:
    campaign_name: deploy_avl_devops_symphony_campaign
    campaign_activation_name: deploy_avl_devops_symphony_campaign_activation
    campaign_start_stage_inputs:

    symphony_campaign_parameters_file: ./targets/deploy_avl_devops_symphony_campaign.json.j2
    symphony_campaign_parameters_file_input:
      # Empty stage will use the default stage as defined in symphony-campaign.json
      campaign_start_stage:
      toolchain_output_path: {{ config.symphony.toolchain_output_path }}
    symphony_authority: {{ config.symphony.symphony_authority }}
