#!/usr/bin/env pwsh

# Copyright (C) Microsoft Corporation.

# Exit immediately if a command fails
$ErrorActionPreference = "Stop"

# Fail if an unset variable is used
Set-StrictMode -Version Latest

Write-Host "Started"


Write-Host "Completed upload to staging storage account."

Write-OutputDictionaryToOutputFile
exit 0
