#!/bin/bash

# Copyright (C) Microsoft Corporation.

# Exit immediately if a command fails
set -e

# Fail if an unset variable is used
set -u

# This script is used to test the Symphony API
# Usage: execute line by line from the symphony_campaign outuput directory

token=$(curl -X POST -d '{"username":"admin", "password":""}' {{parameters.symphony_base_url}}/users/auth | jq -r '.accessToken')

curl -X POST -d @{{parameters.campaign_name}}.json -H "Authorization: Bearer $token" {{parameters.symphony_base_url}}/campaigns/{{parameters.campaign_name|e}}
curl -X POST -d @symphony_campaign_activation.json -H "Authorization: Bearer $token" {{parameters.symphony_base_url}}/activations/registry/{{parameters.campaign_activation_name|e}}
