#!/bin/bash

# Copyright (C) Microsoft Corporation.

cat <<EOF
    Dummy 'deploy local' script. Generated with these parameters:

    - destination: {{ parameters.destination }}
    - source: {{ parameters.source }}
EOF